<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>图书分享后台管理系统</title>
        <link rel="stylesheet" href="./layui/css/layui.css" />
        <link rel="stylesheet" href="./common.css" />
    </head>
    <body>
        <script>
            if(!localStorage.getItem("adminID")) window.location.href = './login.html'
        </script>
        <header>
            图 书 分 享 后 台 管 理 系 统
            <div class="search">
                <input type="text" id="search" placeholder="请输入ID进行查询" />
                <button class="layui-btn layui-btn-danger">退出登录</button>
            </div>
        </header>
        <ul class="layui-nav layui-nav-tree nav layui-nav-side" lay-filter="test">
            <!-- 侧边导航: <ul class="layui-nav layui-nav-tree layui-nav-side"> -->
            <li class="layui-nav-item">
                <a href="./index.html">用户管理</a>
            </li>
            <li class="layui-nav-item layui-nav-itemed">
                <a href="javascript:;">审核中</a>
                <dl class="layui-nav-child">
                    <dd><a href="./share-check.html">分享审核中</a></dd>
                    <dd><a href="javascript:;">借阅审核中</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a href="./in-library.html">在库图书</a></li>
            <li class="layui-nav-item"><a href="./out-library.html">借出图书</a></li>
            <li class="layui-nav-item"><a href="./return-book.html">还书</a></li>
            <li class="layui-nav-item"><a href="./get-book.html">取书</a></li>
            <li class="layui-nav-item"><a href="./back-book-timeout.html">超时未还</a></li>
            <li class="layui-nav-item"><a href="./get-book-timeout.html">超时未取</a></li>
        </ul>

        <main>
            <table id="demo" lay-filter="test" class="table"></table>
        </main>
        <div class="model">
            <div>
                <label for="test1">选择归还时间</label>
                <input type="text" class="layui-input" id="test1" />
                <button class="layui-btn" id="ok">确定</button>
                <button class="layui-btn layui-btn-danger" id="cancel">取消</button>
            </div>
        </div>

        <script type="text/html" id="barDemo">
            <a class="layui-btn layui-btn-danger layui-btn" style="line-height: 30px;" lay-event="del">确认</a>
        </script>

        <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.js"></script>
        <script src="./layui/layui.js"></script>
        <script src="./laydate/laydate.js"></script>
        <script src="./index.js"></script>
        <script src="./test.js"></script>
        <script>
            layui.use(['table', 'laydate'], function () {
                const table = layui.table
                const laydate = layui.laydate
                laydate.render({
                    elem: '#test1', //指定元素
                    type: 'datetime'
                })
                const num = ($('main').height() / 40) | 0
                const width = $('main').width() / 9 | 0
                //监听工具条

                const tableIns = table.render({
                    elem: '#demo',
                    url : '/test/admin/borrow_under_review',
                    limit: num - 1,
                    response: {
                        statusName: 'code', //规定数据状态的字段名称，默认：code
                        statusCode: 200 //规定成功的状态码，默认：0
                    },
                    page: {
                        layout: ['prev', 'page', 'next', 'count'], //自定义分页布局
                        groups: 5, //只显示 5 个连续页码
                        first: false, //不显示首页
                        last: false //不显示尾页
                    },
                    cols: [
                        [
                            //表头
                            { field: 'borrow_id', title: 'ID' ,width},
                            { field: 'borrow_bookName', title: '书名' ,width},
                            { field: 'borrow_userID', title: '用户ID' ,width},
                            { field: 'borrow_username', title: '用户名' ,width},
                            { field: 'borrow_phone', title: '电话号码' ,width},
                            { field: 'borrow_s_number', title: '学号' ,width},
                            { field: 'borrow_start_time', title: '借阅时间' ,width},
                            { toolbar: '#barDemo',width }
                        ]
                    ]
                })


                table.on('tool(test)', function (obj) {
                    if (obj.event === 'del') {
                        $('.model').css('display', 'block')
                        $('#ok').click(function () {
                            $.ajax({
                                url: '/test/admin/borrow_complete',
                                type: 'post',
                                data: {
                                    borrowID : obj.data.borrow_id,
                                    borrow_end_time: $('#test1').val()
                                },
                                success: function (res) {
                                    if(res.code === 1){
                                        layer.msg("借阅时间不能超过分享结束时间，分享时间为"+res.data)
                                    }else {
                                        tableIns.reload({})
                                    }
                                    $('#ok').unbind()
                                    $('#cancel').unbind()
                                    $('.model').css('display', 'none')


                                }
                            })
                        })
                        $('#cancel').click(function () {
                            $('#ok').unbind()
                            $('#cancel').unbind()
                            $('.model').css('display', 'none')
                        })
                    }
                })
                $("#search").change(function (e) {
                    tableIns.reload({
                        url : '/test/admin/select_user_borrow',
                        where :{
                            borrowID : $("#search").val()
                        },
                    })
                  
                })
            })
        </script>
    </body>
</html>
