<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zt.houtai.dao.AdminDao">

    <select id="login" resultType="java.lang.String">
        select admin_id from admin where admin_name=#{admin_name} and admin_password=#{md5}
    </select>

    <select id="adminPublishZero" resultType="com.zt.houtai.domain.Goods">
        select * from goods where goods_status=0 limit #{page},#{limit}
    </select>

    <select id="sendInformation" resultType="com.zt.houtai.domain.Goods">
        select * from goods where goods_status=1 limit #{page},#{limit}
    </select>

    <select id="selectAccountManagement" resultType="com.zt.houtai.domain.User">
        select * from user where user_name like '%' #{user_name} '%'
    </select>

    <select id="adminPublishOne" resultType="com.zt.houtai.domain.Goods">
        select * from goods where goods_status=0 and goods_title like '%' #{goods_title} '%'
    </select>

    <select id="sendInformationSelect" resultType="com.zt.houtai.domain.Goods">
        select * from goods where goods_status=1 and goods_title like '%' #{goods_title} '%'
    </select>

    <update id="publishPass">
        update goods set goods_status=1 where goods_id=#{goods_id}
    </update>

    <delete id="publishNoPass">
        delete from goods where goods_id=#{goods_id}
    </delete>
</mapper>